body {
    background-color: ivory;
    font-family: Arial;
    text-align: center;
}

h3 {
    background-color: navy;
    color: white;
    width: 250px;
    padding: 15px;
    margin: 40px auto;
}

p {
    background-color: darkslategray;
    color: white;
    width: 300px;
    padding: 15px;
    margin: 30px auto 10px;
}

 {
    width: 300px;
    padding: 12px;
    border: 1px solid darkslategray;
}

input[type="submit"] {
    background-color: navy;
    color: white;
    padding: 12px 40px;
    border: none;
}