body {
    background-color: ivory;
    font-family: Arial;
}

h1 {
    background-color: navy;
    color: white;
    width: 150px;
    padding: 20px;
    text-align: center;
    margin: 30px auto;
}

p {
    background-color: darkslategray;
    color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

p:first-of-type {
    background-color: lightsteelblue;
    color: black;
}